@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;0,900;1,500;1,800;1,900&display=swap');


footer {
  position: sticky;
  bottom: 0;
}

nav {
  z-index: 20;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 800;
 
}

p {
  font-family: 'Montserrat';
  font-weight: 400;

}